version: "3.9"

services:
  aviasales_watcher:
    build: .
    container_name: aviasales_watcher
    restart: unless-stopped
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"